body {
	background-color: lightblue;
	color: darkblue;
}


.bold {
	font-weight: bold;
}

.photo {
	height: 300px;
	width: 600px;
	border: 2px dashed red;
}

.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.video_border {
	border: 0;
}


