USE [master]
GO
/****** Object:  Database [CarInsuranceQuotes]    Script Date: 6/10/2018 3:23:55 PM ******/
CREATE DATABASE [CarInsuranceQuotes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarInsuranceQuotes', FILENAME = N'C:\Users\kevyn\CarInsuranceQuotes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarInsuranceQuotes_log', FILENAME = N'C:\Users\kevyn\CarInsuranceQuotes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarInsuranceQuotes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarInsuranceQuotes]
GO
USE [CarInsuranceQuotes]
GO
/****** Object:  Table [dbo].[CarInsuraceQuotes]    Script Date: 6/10/2018 3:23:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarInsuraceQuotes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DateOfBirth] [varchar](50) NULL,
	[EmailAddress] [varchar](100) NULL,
	[CarMake] [varchar](50) NULL,
	[CarModel] [varchar](50) NULL,
	[CarYear] [int] NULL,
	[Coverage] [varchar](50) NULL,
	[DUI] [varchar](50) NULL,
	[SpeedingTickets] [int] NULL,
	[VehicleQuote] [int] NULL,
 CONSTRAINT [PK_CarInsuraceQuotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
