body {
	background-color: #800000;
}

img {
	height: 5em;
	width: 6em;
}

h1 {
	
	height: 150px;
	width: 1500px;
	font-family: Times New Roman;
	font-size: 5em;
	text-align: center;
	color: #DAA520;
	background-image: url("../img/kkpizza.png");
	background-size: 2.4em;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

h3, .input-font, .button, #total {
	font-family: Arial;
}


#main-container {
	overflow: hidden;
}

#total, .container, .button {
	border: 3px solid #051C37; 
	border-radius: 15px;
	background-color: #DAA520;
}


#total {
	opacity: 100;
	width: 15em;
	margin-right:500px;
	padding-left: 20px;
	float: right;
}

.container {
	width: 40em;
	height: 15em;
	margin-left: 470px;
	margin-bottom: 20px;
	
}

.box {
	padding-left: 20px;
	float: left;
}

.box1 {
	padding-left: 120px;
	padding-right: 100px;
}

.button-container {
	width: 410px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;	
	
}

.button {
	color: black;
	font-size: 30px;
	width: 200px;
}

