@using CarInsurance.ViewModels
@model List<AdminVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quotes</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <h6>First Name</h6>
                </div>
                <div class="col-3">
                    <h6>Last Name</h6>
                </div>
                <div class="col-3">
                    <h6>Email Address</h6>
                </div>
                <div class="col-3">
                    <h6>Quote</h6>
                </div>
            </div>
            @foreach (var admin in Model)
            {
                <div class="row">
                    <div class="col-3">
                        @admin.FirstName
                    </div>
                    <div class="col-3">
                        @admin.LastName
                    </div>
                    <div class="col-3">
                        @admin.EmailAddress
                    </div>
                    <div class="col-3">
                        @admin.VehicleQuote
                    </div>
                </div>
            }
        </div>
    </div>
</div>